{% extends 'base.html' %} {% block content %}
<h3>Details</h3>
<div class="card">
  <div class="card-content">
    <p>Make: {{car.make}}</p>
    <p>Model: {{car.models}}</p>
    <p>Year: {{car.year}}</p>
    <p>Color: {{car.color}}</p>
    <p>Description: {{car.description}}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'cars_update' car.id %}"><button class="btn grey darken-3">Edit
    </button></a>
    <a href="{% url 'cars_delete' car.id %}"><button class="btn grey darken-3">Delete
    </button></a>
  </div>
</div>
{% endblock %}