{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="#" class="brand-logo">Garage</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'index'  %}">View All Cars</a></li>
          <li><a href="{% url 'cars_create' %}">Add New Car</a></li>
          <li><a href="{% url 'services_index' %}">View All Services</a></li>
          <li><a href="{% url 'services_create' %}">Add a Service</a></li>
        </ul>
      </div>
    </nav>

    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer grey darken-4">
        <div class="right grey darken-4">
          All Rights Reserved, &copy; 2019 Cat Collector &nbsp;
        </div>
      </footer>
          
  </body>
</html>
